.destination-container {
    background: #b5ffb2;
}

.select-route-form {
    background-color: #96fd88;
    margin-top: 100px !important;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.336);
    border-radius: 6px;
    margin-bottom: 60px !important;
}
.submitBtn{
    background-color: rgb(18, 197, 12);
    border-radius: 10px;
    border: none;
}

.place-link-img {
    margin: 3px;
    padding: 5px;
    border-radius: 12px;
    width: 150px;
    
}

.transport-img {
    width: 80px;
}

.ride-details {
    margin-top: 100px !important;
    box-shadow: 2px 2px 30px #00000056;
    border-radius: 6px;
    margin-bottom: 60px !important;
}